# install dependency packages by typing pip install -r requirements.txt in command line
# then run .py script by typing python3 emotion-twitter.py

langdetect>=1.0.8
nltk>=3.5
pandas>=1.1.0
tweet-preprocessor>=0.6.0
spacy>=3.0.3
